/* ------------------------------------------------------------ *\
	Fonts
\* ------------------------------------------------------------ */

@font-face {
	font-family: 'Stencilia-A';
	src: url('../fonts/Stencilia-A.eot');
	src: local('☺'), url('../fonts/Stencilia-A.woff') format('woff'), url('../fonts/Stencilia-A.ttf') format('truetype'), url('../fonts/Stencilia-A.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
