/* ------------------------------------------------------------ *\
	Form
\* ------------------------------------------------------------ */

.form {

	text-align: center;

	form {
		position: relative;
	}


	.form__title {
		margin-bottom: 62px;
	}

	.form-subscribe_wrapper {
		max-width: 760px;
		display: block;
	}

	.gform_wrapper {
		display: inline-block;
		max-width: 630px;
		margin: 0 auto;

		@media(max-width: 1370px){
			margin: 0 -24px;
		}

		@media #{$small-desktop} {
			margin: 0 -90px;
		}

		@media #{$tablet-portrait} {
			margin: 0 auto;
		}

		@media #{$mobile} {
			display: block;
		}

		.gform_heading,
		.gfield_label {
			display: none;
		}

		label.gfield_label+div.ginput_container {
			margin-top: 0;
		}

		div.validation_error,
		.validation_message {
			color: $orange !important;
			border-color: $orange !important;
			font-weight: 500 !important;
		}

		.top_label li.gfield.gf_left_half {
			margin-right: 30px!important;
			float: left;

			@media #{$mobile} {
				margin-right: 0 !important;
			}
		}

		.gfield_html {
			margin: 0px 0 20px;
			color: #45403d;
			font-size: 17px;
			font-weight: 500;
		}

		.gfield_checkbox li label, .gform_wrapper .gfield_radio li label {
			line-height: 2;
		}

		.gfield_checkbox {

			&:after {
				height: 0;
				clear: both;
				content: '';
				display: table;
			}

			input {
				position: absolute;
				visibility: hidden;
				height: 0!important;
				width: 0 !important;
				margin: 0 !important;
				border: 0!important;
				line-height: 0;

				&:checked + label {
					color: #45403d;

					&:before {
						border-color: #45403d;
					}

					&:after {
						opacity: 1;
					}
				}
			}

			label {
				position: relative;
				padding-left: 40px;
				margin: 0;
				font-size: 15px;
				font-weight: 500;
				transition: color .3s;

				&:before,
				&:after {
					position: absolute;
					content: '';
				}

				&:before {
					position: absolute;
					width: 30px;
					height: 30px;
					left: 0;
					top: 0;
					border: 2px solid #d4cfc7;
					border-radius: 5px;
					transition: border-color .3s;
				}

				&:after {
					width: 12px;
					height: 9px;
					top: 11px;
					left: 9px;
					background: url(../images/ico-check@2x.png) no-repeat 0 0;
					background-size: 100% 100%;
					opacity: 0;
					transition: opacity .3s;
				}
			}

			li {
				float: left;
				width: 300px;
				margin-bottom: 20px;

				& + li:nth-child(even) {
					margin-left: 30px!important;

					@media #{$mobile} {
						margin-left: 0 !important;
					}
				}
			}
		}

		.gfield {
			width: 300px !important;
			margin-bottom: 30px!important;

			@media #{$mobile} {
				width: 100% !important;
			}

			&.gfield-checkbox {
				width: 100% !important;
			}

			&.gfield-html {
				margin-bottom: 23px !important;
			}

			input {
				appearance: none;
			    background: transparent;
				border: 2px solid #d4cfc7;
				background: transparent;
				border-radius: 4px;
				height: 50px;
				width: 300px!important;
				padding-left: 19px!important;
				font-size: 15px!important;
				font-weight: 500;
				transition: border-color .3s;

				@media #{$mobile} {
					width: 100% !important;
				}

				&:focus {
					border-color: $orange;
				}
			}
		}

		.gfield-checkbox {
			width: 100%;
			margin-bottom: 9px !important;
		}

		.gfield-textarea {
			width: 630px !important;
			margin-bottom: 0 !important;

			@media #{$mobile} {
				width: 100% !important;
			}

			textarea {
				display: block;
				width: 100%;
				background: transparent;
				appearance: none;
				border: 2px solid #d4cfc7;
				background: transparent;
				border-radius: 4px;
				height: 200px;
				padding: 12px 19px;
				font-size: 15px;
				font-weight: 500;
				transition: border-color .3s;

				&:focus {
					border-color: $orange;
				}
			}
		}

		.gform_footer {
			text-align: center;
			padding-top: 0;
			margin-top: 30px;
		}

		.gform_button {
			background: $orange;
			color: $light;
			border: 2px solid transparent;
			appearance: none;
			border-radius: 25px;
			padding: 13px 29px;
			font-size: 15px!important;
			font-weight: 500;
			transition: background .3s, border-color .3s, color .3s;

			&:hover {
				background: $white;
				border-color: $orange;
				color: $orange;
			}
		}

		ul.gfield_checkbox li input[type=checkbox]:checked+label, .gform_wrapper ul.gfield_radio li input[type=radio]:checked+label {
			font-weight: 500;
		}
	}

	&--alt {
		font-size: 14px;
		font-weight: 500;

		p {
			margin-top: 22px;
		}
		.gform_wrapper {
			.gfield {
				input {
					font-size: 14px;
				}
			}

			.gform_footer {
				margin-top: 30px;
			}

			.gfield_checkbox {

				li {
					position: relative;
					left: 12px;
					float: none;
					display: block;
					margin: auto!important;
				}

				label {
					font-size: 14px;
					line-height: 2.3!important;
				}
			}
		}
	}
}

.gform_wrapper .gfield_html.gfield_no_follows_desc {
	margin-top: 0 !important;
}

.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit], .gform_wrapper .gform_page_footer input.button, .gform_wrapper .gform_page_footer input[type=submit] {
	margin-right: 0 !important;
}

.gform_wrapper ul.gform_fields li.gfield {
	padding-right: 0 !important;
}

.gform_wrapper ul.gform_fields {
	list-style: none !important;
}

/* ------------------------------------------------------------ *\
	Search Form
\* ------------------------------------------------------------ */

.search-form {
	.screen-reader-text {
		display: block;
		margin-bottom: 7px;
	}

	.search-field {
		appearance: none;
		background: rgba(226,222,211,.2);
		border: 1px solid #8f8a82;
		border-radius: 30px;
		font-size: 14px!important;
		display: block;
		height: 60px;
		width: 100% !important;
		margin: auto;
		position: relative;
		padding: 0 36px;
		transition: color .3s;

		&:focus {
			color: $darker;
		}
	}

	.search-submit {

		background: url(../images/ico-magnifier@2x.png) no-repeat 0 0;
		background-size: 100% 100%;
		position: relative;
		left: -47px;
		top: -6px;
		font-size: 0;
		width: 25px;
		height: 23px;
		display: inline-block;
		appearance: none;
		border: 0;
	}
}
