/* ------------------------------------------------------------ *\
	Magnific Popup
\* ------------------------------------------------------------ */

.mfp-video {
	.mfp-close {
		width: 30px;
		font-size: 40px;
		opacity: 1;
    	right: auto;
    	left: 50%;
    	padding: 0;
    	transform: translateX(-50%);
    	top: -45px;
	}
}
